body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 15% auto 8%;
    height: 100vh;
}

header {
    grid-area: header;
    Background: #fdff80;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}


main {
    grid-area: main;
    Background: #9eff80;
    padding: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: #4a9b34a2;
    display: flex; 
    justify-content: center; 
    align-items: center;
    grid-template-areas: "Area Area Area" "Area Area Area" "Area Area Area";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 15% auto 8%;
}

footer {
    grid-area: footer;
    Background: #ff8086;
    padding: 20px;

}

button.item {
    Background: #f480ff;
    padding: 20px;
    margin: 20px;
    display: inline-block;
 }

nav li {
    Background: #ffa880;
    padding: 20px;
    margin: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #5c3320a2;
    font-size: 0.5em;
}

nav ul {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
