body {
    padding: 0px;
    margin: 0px;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, Franklin Gothic Bold, Charcoal, Helvetica Inserat, Bitstream Vera Sans Bold, Arial Black, sans serif;
    display: grid;
    grid-template-areas: "header header header" "main main main" "footer footer footer";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 10% auto 10%;
    height: 100vh;
    /* background: url('Tesla S.jpg');
    background-size: 90% 100%; */
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, #262626, #727272);
}


div.Status {
    margin: auto;
    font-family: 'Century Gothic';
    font-size: 1em;
    color: #b2aeae;
    display: flex;
    justify-content: space-between;
}
#Logo {
    padding-bottom: 10px;
    padding-top: 10px;
    
}

button.Status {
    padding-bottom: 10px;
    padding-top: 2px;
    border: none;
    margin: 10px;
    display: flex;
    background-color:rgba(103, 95, 95, 0.00);
    justify-content: space-between;
    }
    button.Status:hover {
        outline:0; /*Kein Rahmen nach Klick*/
        }

main {
    grid-area: main;
    padding: 0px;
}

button.Value {
    display: inline;
    border: solid;
    border-color: #757575;
    border-radius:0.5em;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 30px;
    font-family: 'Century Gothic';
    font-size: 1em;
    color: #dbd4d4;
    justify-content: space-between;
    background-color: #757575;
}
    button.Value:hover {
        outline: 0; /*Kein Rahmen nach Klick*/
    }

#Pressure {
    font-family: 'Century Gothic';
    text-align: center;
    vertical-align: middle;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0deg, #262626, #727272);
    padding-bottom: 10px;
    padding-top: 20px;
    margin: 3px;
    font-family: 'Century Gothic';
    font-size: 1em;
    color: #b2aeae;
}

div.Music {
    margin: auto;
    font-family: 'Century Gothic';
    font-size: 1em;
    color: #b2aeae;
    display: flex;
    justify-content: space-between;
}